/* This is just to make it look different from 404 */
html {
    background-image: url("bg.png");
    background-repeat: repeat;
    background-size: 1lh;
    background-attachment: fixed;
    color: black;
}
  